.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
.color-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  /* gap: 1rem; */
}
.color-form label {
  display: block;
}
.color-form input {
  display: block;
}

.color-card-hightlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
